/* Write your CSS here */

.container {
  background-color: #f1f5f8;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 36px;
  color: #2d3a35;
  font-weight: bold;
}

.span {
  color: #c20a72;
  font-size: 44px;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
}
